@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
  /* outline: 0.1rem solid blue; */
  box-sizing: border-box;
}

#navigation {
  display: flex;
  flex-wrap: wrap;
  height: 10vh;
  border: 1px solid red;
  /* align-items: center; */
}

#navigation h1 {
  margin: 0 auto 0 5vw;
  font-weight: bold;
  font-family: "Caveat", cursive;
  color: black;
  cursor: pointer;
  border: 1px solid red;
  padding: 0.5rem;
  font-size: 2.5rem;
  height: 100%;
}

#navigation ul {
  display: flex;
  list-style: none;
  margin-right: 5vw;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid blue
}

#navigation li {
  margin: 0 1rem;
  border: 1px solid red;
}